{% extends 'base.html' %}

{% block title %} Period {% endblock %}

{% block content %}
<div class="container">
<h1>Career</h1>
<label for="">Name:</label>
<input type="box" name="" id="">
<br>
<label for="">Level:</label>
<input type="box" name="" id="">
<br>
<label for="">Shortname:</label>
<input type="box" name="" id="">
<label for="">Status:</label>
<input type="box" name="" id="">
<br>
<label for="">Plan:</label>
<input type="box" name="" id="">
<br>
<label for="">Director:</label>
<input type="box" name="" id="">
<br>
<input type="submit" placeholder="Registrar" >
</div>

{% endblock %}