
h1{
    font-family: 'Courier New', Courier, monospace;
    position: fixed;

}
h2 {
    color: #4fc01b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: x-large;
}
body{
    background-color: aqua;
}
