{% extends 'base.html' %}

{% block title %} Period {% endblock %}

{% block content %}
<div class="container">
<h1>Consultation Period</h1>
<label for="">Semester:</label>
<input type="box" name="" id="">
<br>
<label for="">Number:</label>
<input type="box" name="" id="">
<br>
<label for="">Name:</label>
<input type="box" name="" id="">
<br>
</div>
<br>
<div class="container">
<h1>Create Period</h1>
<label for="">Semester:</label>
<input type="box" name="" id="">
<br>
<label for="">Number:</label>
<input type="box" name="" id="">
<br>
<label for="">Name:</label>
<input type="box" name="" id="">
<br>
<input type="submit" placeholder="Registrar" >
</div>

{% endblock %}